@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
   background: url(/public/img/background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
}